body {
	align:center;
}

main {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
	justify-items: stretch;
	gap: 10px;
}

.block {
	/* border:1px solid black; */
}

#formula-input{
	grid-column: 1 / 4;
	grid-row: 1;
}

#text-output{
	grid-column: 1 / 2;
	grid-row: 2;
	border:1px solid black;
}

#graphic-output{
	grid-column: 3 / 4;
	grid-row: 2;
	border:1px solid black;
}


